on init
    # Set Hardware properties
    setprop ro.hardware.sensors james
    setprop ro.hw.imager 8MP

    # Variant properties
on property:ro.boot.hardware.sku=XT1921-3
    setprop ro.opengles.version 196608
    setprop ro.product.model XT1921-3
    setprop ro.product.name james_t
    setprop dalvik.vm.dex2oat-threads 2
    setprop persist.vendor.audio.fluence.speaker false
    setprop ro.hw.ecompass false
    setprop ro.mot.sensors.chopchop false
    setprop ro.mot.sensors.camgest false
    setprop ro.vendor.sensors.gravity false
    setprop ro.vendor.sensors.laccel false
    setprop ro.vendor.sensors.amd false
    setprop debug.hwui.use_buffer_age false
    setprop persist.radio.customer_mbns tmo_usa_ims_default.mbn
    setprop persist.vendor.ims.playout_delay 10
    setprop persist.vendor.ims.cam_sensor_delay 20
    setprop persist.vendor.ims.display_delay 40
