on init
    # Set Hardware properties
    setprop ro.hardware.sensors james

    # Variant properties
on property:ro.boot.hardware.sku=XT1921-3
    setprop ro.opengles.version 196608
    setprop ro.product.model XT1921-3
    setprop ro.product.name james
    setprop dalvik.vm.dex2oat-threads 2
    setprop persist.vendor.audio.fluence.speaker false
    setprop ro.hw.ecompass false
    setprop ro.mot.sensors.chopchop false
    setprop ro.mot.sensors.camgest false
    setprop ro.vendor.sensors.gravity false
    setprop ro.vendor.sensors.laccel false
    setprop ro.vendor.sensors.amd false
    setprop debug.hwui.use_buffer_age false
