on init
    # Set Hardware properties
    setprop ro.hardware.sensors james
    setprop ro.hw.imager 8MP

    # Variant properties
on property:ro.boot.hardware.sku=XT1921-3
    setprop ro.product.model XT1921-3
    setprop ro.product.name james_t
    setprop ro.hw.ecompass false
    setprop ro.mot.sensors.chopchop false
    setprop ro.mot.sensors.camgest false
    setprop ro.radio.imei.sv 9
    setprop persist.eab.supported 1
    setprop persist.rcs.presence.provision 0
    setprop persist.rcs.supported 1
    setprop persist.radio.customer_mbns tmo_usa_ims_default.mbn
    setprop persist.radio.data_con_rprt 1
    setprop persist.vendor.ims.cam_sensor_delay 20
    setprop persist.vendor.ims.display_delay 40
    setprop persist.vendor.ims.playout_delay 10
    setprop persist.vendor.radio.snapshot_enabled 1
    setprop persist.vendor.radio.snapshot_timer 22

service vendor.sensors.qti /vendor/bin/sensors.qti
    class core
    user system
    group system
    disabled

service vendor.sensor-sh /vendor/bin/init.qcom.sensors.sh
    class core
    user root
    oneshot
